    * {
        padding: 0px;
        margin: 0px;
    }
    
    #contenedor {
        background: azure;
        width: 970px;
        height: auto;
    }
    
    header {
        background: rgb(25, 71, 141);
        width: 940px;
        height: auto;
        margin: 10px;
    }
    
    .logo {
        vertical-align: top;
        display: inline-block;
    }
    
    .img {
        vertical-align: top;
        display: inline-block;
    }
    
    #size {
        color: darkgoldenrod;
        height: 30px;
        width: 230px;
        vertical-align: top;
        display: inline-block;
        margin-left: 245px;
    }
    
    #button {
        background: rgb(63, 59, 59);
        color: black;
        height: 40px;
        width: 230px;
        border: 2px solid rgb(24, 24, 22);
        display: inline-block;
        box-shadow: 4px 9px 10px black;
        vertical-align: 5px;
        border-radius: 7px;
        text-align: center;
        margin-top: 10px;
    }
    
    #lista ul {
        list-style-type: none;
        padding: 10px;
        overflow: hidden;
        background-color: #415bb3;
        box-shadow: 4px 7px 10px black;
        border-radius: 15px;
        font-family: Helvetica;
        width: 800px;
        height: 40px;
        margin: 5px 10px 10px 35px;
        text-align: center;
    }
    
    #lista li {
        float: left;
    }
    
    #lista li a {
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 25px;
        text-decoration: none;
    }
    
    #lista li a:hover {
        background-color: #3163af;
    }
    
    .lista2 {
        display: inline-block;
    }
    
    .lista2 ul {
        text-align: center;
        color: whitesmoke;
        list-style-type: none;
        margin-left: 155px;
        vertical-align: top;
    }
    
    #parrafos {
        color: whitesmoke;
        text-align: center;
        vertical-align: top;
        margin: 10px 10px 10px 10px;
        display: inline-block;
    }
    
    #parf {
        color: yellowgreen;
        text-align: center;
        vertical-align: top;
        margin: 10px 10px 10px 10px;
        display: inline-block;
    }
    
    #main {
        background: bisque;
        padding: 25px;
        width: 940px;
        height: auto;
    }
    
    #arti1 {
        text-align: center;
        margin: 10px;
        width: 45%;
        height: 200px;
        vertical-align: top;
        display: inline-block;
        margin-top: 10px;
    }
    
    #arti2 {
        text-align: center;
        margin: 10px;
        width: 45%;
        height: 200px;
        vertical-align: top;
        display: inline-block;
        margin-top: 10px;
    }
    
    ul {
        color: #000;
    }
    
    .main h3 {
        color: black;
    }
    
    .main p {
        color: black;
        text-align: center;
    }
    
    .main li {
        color: rgb(83, 221, 245);
    }
    
    #footer h5 {
        background: rgb(25, 71, 141);
        color: darkgrey;
        text-align: center;
        width: 940px;
        height: 35px;
        vertical-align: 10px;
    }
    
    h6 {
        text-align: center;
    }